@model Product

@{
    ViewData["Title"] = "Add";
}

<h1>Add a Product</h1>

<form action="/Admin" method="post">
    <fieldset>
        <label for="name">Product Name:</label> <br />
        <input type="text" name="name"> <br /> <br />

        <label for="description">Description:</label> <br />
        <input type="text" name="description"> <br /> <br />

        <label for="price">Price:</label> <br />
        <input type="text" name="Price"> <br /> <br />

        <label for="category">Category:</label> <br />
        <input type="text" name="category"> <br /> <br />

        <input type="submit" />

    </fieldset>
</form>

