@model List<Product>

@{
    ViewData["Title"] = "Index";
}

    <body>
        <h1>List of Products</h1>
        <br />


        <p>Add a Product</p>
        <form action="/Admin/Add" method="post">
            <input type="submit" value="Add" />
        </form>

        @foreach (Product item in Model)
        {
            <a href="/Product/Detail?ProductID=@item.ProductID">@item.ProductName</a>

            <form action="/Admin/Edit" method="post">
                <input type="submit" value="Edit" />
            </form>

            <form action="/Admin/Delete" method="post">
                <input type="submit" value="Delete" />

            </form>


        }

    </body>

